div{
  margin:auto;
  /*using vw for both to accomodate phones having high vertical/width ratio*/
  min-height: 20vw;
  min-width: 20vw;

  font-size: 15vw;
  font-family: lato;
}

.container {  display: grid;
  grid-template-columns: 20vw 20vw 20vw;
  grid-template-rows: 20vw 20vw 20vw;
  gap: 4px 4px;
  grid-auto-flow: row;
  grid-template-areas:
    "a1 a2 a3"
    "b1 b2 b3"
    "c1 c2 c3";
}

.a1 { grid-area: a1; }

.a2 { grid-area: a2; }

.a3 { grid-area: a3; }

.b1 { grid-area: b1; }

.b2 { grid-area: b2; }

.b3 { grid-area: b3; }

.c1 { grid-area: c1; }

.c2 { grid-area: c2; }

.c3 { grid-area: c3; }
