div {
  /*Used div controls here to bulk handle centering and vertical spacing*/
  margin-top:15vh;
  justify-content:center;
}

.container div{
  /*margin:auto fixes spacing issues, width/height are 1 less than region sizes to allow for a nice border look*/
  margin:auto;
  width:10vw;
  height:10vw;
  min-width:50vh;
  min-height:50vh;

  display: flex;
  align-items: center;

  /*Purely aesthetic, controls the borders around the individual grid boxes*/
  border: solid 0.3vw black;
  box-shadow: inset 0 0 0.2vw black;
  border-radius: 0.2vw;
  
  font-size: 5vw;
}

.container {  display: grid;
  /*Values should be at least 1 higher than .container div {width/height} for appearances*/
  grid-template-columns: 11vw 11vw 11vw;
  grid-template-rows: 11vw 11vw 11vw;
  gap: 4px 4px;
  
  grid-auto-flow: row;
  grid-template-areas:
    "a1 a2 a3"
    "b1 b2 b3"
    "c1 c2 c3";
}

/*I made these in case I needed them, but theyre unnecessary atm. If i reuse this code they'll be of use.*/
.a1 { grid-area: a1;  }

.a2 { grid-area: a2; }

.a3 { grid-area: a3; }

.b1 { grid-area: b1; }

.b2 { grid-area: b2; }

.b3 { grid-area: b3; }

.c1 { grid-area: c1; }

.c2 { grid-area: c2; }

.c3 { grid-area: c3; }
