div {
  margin:auto;
  justify-content:center;
}

.container div{
  width:5vw;
  height:5vw;
  display: flex;
  align-items: center;
  
  border: solid 2px black;
  box-shadow: inset 0 0 5px black;
  border-radius: 10px;
  
  font-size: 5vw;
  font-family: lato;
}

.container {  display: grid;
  grid-template-columns: 6vw 6vw 6vw;
  grid-template-rows: 6vw 6vw 6vw;
  gap: 4px 4px;
  
  grid-auto-flow: row;
  grid-template-areas:
    "a1 a2 a3"
    "b1 b2 b3"
    "c1 c2 c3";
}

.a1 { grid-area: a1;  }

.a2 { grid-area: a2; }

.a3 { grid-area: a3; }

.b1 { grid-area: b1; }

.b2 { grid-area: b2; }

.b3 { grid-area: b3; }

.c1 { grid-area: c1; }

.c2 { grid-area: c2; }

.c3 { grid-area: c3; }
