.container {  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 20px;
  grid-auto-flow: row;
  justify-content: space-around;
  justify-items: stretch;
  align-items: center;
  grid-template-areas:
    "location windDirection"
    "condition tempHumid"
    "forecast forecast";
  width: 75%;
}

.location { grid-area: location; }

.windDirection { grid-area: windDirection; }

.condition { grid-area: condition; }

.tempHumid { grid-area: tempHumid; }

.forecast { grid-area: forecast; }
