/*Switched to using a root for better variable control. I'd forgotten i could do this with tp4*/
:root {
  --regionSize: 15vw;
  --cardSize: 16vw;
}

div {
  /*Used div controls here to bulk handle centering and vertical spacing*/
  margin-top:10vh;
  justify-content:center;
}

.container div{
  /*margin:auto fixes spacing issues, width/height are 1 less than region sizes to allow for a nice border look*/
  margin:auto;
  width: var(--regionSize);
  height: var(--regionSize);
  max-width: 20vh;
  max-height:20vh;

  display: flex;
  align-items: center;
}

.container {  display: grid;
  /*Values should be at least 1 higher than .container div {width/height} for appearances*/
  grid-template-columns: var(--cardSize) var(--cardSize) var(--cardSize);
  grid-template-rows: var(--cardSize) var(--cardSize) var(--cardSize);
  gap: 4px 4px;
  
  grid-auto-flow: row;
  grid-template-areas:
    "a1 a2 a3 a4"
    "b1 b2 b3 b4"
    "c1 c2 c3 c4"
    "d1 d2 d3 d4";
}

.card{
  position: relative;
  width: 110%;
  height: 110%;
  perspective: 500px; /* special CSS property relevant to 3D flips */
  
  font-size: 5vw;
}

.cardWrapper{
  position: absolute; /* positioning within the parent card object */
  width: 100%;
  height: 100%;
  transition: transform 0.5s;
  transform-style: preserve-3d; /* special CSS property relevant to 3D flips */
}

.card:hover .cardWrapper{
  transform: rotateY(180deg); /* simulate a 3D flip */
}

.cardTop,
.cardBottom {
  position: absolute; /* positioning within the parent cardContent object */
  text-align: center;
  height: 100%;
  width: 100%;
  border: 2px solid darkblue;
  backface-visibility: hidden; /* special CSS property relevant to 3D flips */
}

.cardTop {
  background-image: url("images/cardbg.png");
  background-size:contain;
  color: #eee;
}

.cardBottom {
  background-color: #eee;
  color: darkblue;
  transform: rotateY(180deg); /* pre-flip so it appears on parent's flip */
}

.p1 {
  background-image: url("images/koi.png");
  background-size:contain;
}

.p2 {
  background-image: url("images/flower1.png");
  background-size:contain;
}

.p3 {
  background-image: url("images/flower2.png");
  background-size:contain;
}

.p4 {
  background-image: url("images/flower3.png");
  background-size:contain;
}

.p5 {
  background-image: url("images/flower4.png");
  background-size:contain;
}

.p6 {
  background-image: url("images/flower5.png");
  background-size:contain;
}

.p7 {
  background-image: url("images/flower6.png");
  background-size:contain;
}

.p8 {
  background-image: url("images/flower7.png");
  background-size:contain;
}