/*the code I made for tp4 was used as a base here. I figured there was no need to reinvent the wheel.*/
/*Switched to using a root for better variable control. I'd forgotten i could do this with tp4*/
:root {
  --regionSize: 10vw;
}

div {
  /*Used div controls here to bulk handle centering and vertical spacing*/
  margin-top:5vh;
  justify-content:center;
}

.container div{
  /*margin:auto fixes spacing issues, width/height are 1 less than region sizes to allow for a nice border look*/
  margin:auto;
  width: var(--regionSize);
  height: var(--regionSize);
  max-width:24vh;
  max-height:24vh;

  display: flex;
  align-items: center;
}

.container {  display: grid;
  /*Values should be at least 1 higher than .container div {width/height} for appearances*/
  grid-template-columns: var(--regionSize) var(--regionSize) var(--regionSize) var(--regionSize);
  grid-template-rows: var(--regionSize) var(--regionSize) var(--regionSize) var(--regionSize);
  gap: 1vw 1vw;
  
  grid-auto-flow: row;
  grid-template-areas:
    "a1 a2 a3 a4"
    "b1 b2 b3 b4"
    "c1 c2 c3 c4"
    "d1 d2 d3 d4";
}
/*Ended up making the individual tiles from tp4 into card classes for this assignment.*/
.card{
  position: relative;
  width: 100%;
  height: 100%;
  perspective: 500px;
  
  font-size: 5vw;
}

/*wrapper for the card contents*/
.cardWrapper{
  position: absolute; 
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d; 
}

 /*simulate the flip*/
.card:hover .cardWrapper{
  transform: rotateY(180deg);
}

.cardTop,
.cardBottom {
  position: absolute;
  text-align: center;
  height: 100%;
  width: 100%;
  border: 2px solid black;
  border-radius:0.2vw;
  backface-visibility: hidden; /*
}

.cardTop {
  background-image: url("images/cardbg.png");
  background-size:contain;
  color: #eee;
}

.cardBottom {
  background-color: #eee;
  color: darkblue;
  transform: rotateY(180deg); /* pre-flip so it appears on parent's flip */
}

.p1 {
  background-image: url("images/koi.png");
  background-size:contain;
}

.p2 {
  background-image: url("images/flower1.png");
  background-size:contain;
}

.p3 {
  background-image: url("images/flower2.png");
  background-size:contain;
}

.p4 {
  background-image: url("images/flower3.png");
  background-size:contain;
}

.p5 {
  background-image: url("images/flower4.png");
  background-size:contain;
}

.p6 {
  background-image: url("images/flower5.png");
  background-size:contain;
}

.p7 {
  background-image: url("images/flower6.png");
  background-size:contain;
}

.p8 {
  background-image: url("images/flower7.png");
  background-size:contain;
}